label {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  width: 200px;
  font-size: 20px;
  font: italic bold 16px/30px Georgia, serif;
}
button {
  margin-left: 10px;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  font: bold 16px/30px Georgia, serif;
}

button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.927);
}
.error {
  color: red;
  font-size: 12px;
  margin-left: 50px;
}

span {
  font-size: 20px;
  margin-left: 10px;
}
input {
  margin-left: 10px;
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 50px;
  height: 40px;
  font: large italic bold 16px/30px Georgia, serif;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 50px;
}

div {
  margin-bottom: 15px;
}
